.item-detail {
    background-color: #d3d3d3;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    width: 350px;
    height: 500px;
}

.modal-home-button, .modal-cart-button {
    margin: 10px;
}
